.containerChat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .ContainerMessage,
  .btnSend {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ContainerMessage {
    height: 90vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }

  .btnSend {
    height: 10vh;
    justify-content: center;
  }
}
