@import '../../style/color.scss';
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 14% 86%;
  background-color: $gray-background;
  color: $text;

  @media (max-width:800px) {
    grid-template-columns: 1fr;
    
  }
}
